body {
  background-color: #cfe9f5;
}

.container, .containerDesk {
  display: flex;
  justify-content: center;  
}

h1 {
  font-size: 35px;
  color: darkgreen;
}
p {
  font-size: 20px;
}
.description {
  width: 90%;
  height: 120px;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  border: darkgreen 1px solid;
}


.btn {
  display: flex;
  justify-content: space-evenly;
}
.pointers {
  height: 5%;
}
.show {
  border: none;
  color: rgb(1, 109, 109);
  background-color: rgba(240, 255, 255, 0);
  font-size: large;
  font-style: italic;
}

button {
  background-color: #537256;
  color: #fff;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}